{
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "globals": {
    "React": false,
    "describe": false,
    "it": false
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 0,
    "no-console": 0,
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": ["**/*.test.js", "**/*.test.jsx", "**/webpack.**", "**/test-helpers/**"]
    }]
  },
  "plugins": [
    "react"
  ]
}